<!--
<div class="page-container">
    &lt;!&ndash; top navbar &ndash;&gt;
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Vincent Henin - Vhenin</a>

            </div>
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon glyphicon-globe"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a class="" href="#">FR</a>
                    </li>
                    <li><a class="" href="#">NL</a>
                    </li>
                    <li><a class="" href="#">EN</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">
            &lt;!&ndash; sidebar &ndash;&gt;
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav">
                    <li class="active"><a class="" href="#">Home</a>

                    </li>
                    <li><a class="" href="#">Who Am I</a></li>
                    <li><a class="" href="#">Who is Vincent Henin</a></li>
                    <li><a class="" href="#">Why Vhenin</a></li>
                </ul>
            </div>
            &lt;!&ndash; main area &ndash;&gt;
            <div class="col-xs-12 col-sm-9">
                <h1 class="">My Works:</h1>

                <div class="row">
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 1"><img src="//placehold.it/600x350" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 2"><img src="//placehold.it/600x350/2255EE" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 3"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 4"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 5"><img src="//placehold.it/600x350/2255EE" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 6"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 8"><img src="//placehold.it/600x350/777" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 9"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 10"><img src="//placehold.it/600x350/EEE" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 11"><img src="//placehold.it/600x350/449955/FFF" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 12"><img src="//placehold.it/600x350/DDD" class="thumbnail img-responsive"></a></div>
                    <div class="col-lg-3 col-sm-4 col-6"><a href="#" title="Image 13"><img src="//placehold.it/600x350/992233" class="thumbnail img-responsive"></a></div>
                </div>

            </div>
        </div>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">×</button>
                        <h3 class="modal-title">Heading</h3>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
            &lt;!&ndash; /.col-xs-12 main &ndash;&gt;
        </div>
        &lt;!&ndash;/.row&ndash;&gt;
    </div>
    &lt;!&ndash;/.container&ndash;&gt;
</div>
&lt;!&ndash;/.page-container&ndash;&gt;
-->
