<template name="productLayout">
    <div class="container tandp">
        <div id="header">
            {{> header }}
        </div>

        {{> modal }}

        <div id="productContent">
            {{> meteorErrors}}
            <div id="main" class="row-fluid">
                {{> yield}}
            </div>
        </div>

        <div id="productVariants">
            {{> productVariants }}
        </div>

        <div id="productFooter">
            {{> productFooter }}
        </div>
    </div>
</template>
