<template name="productListLayout">
    <div class="container tandp">
        <div id="header">
            {{> header }}
        </div>

        {{> modal }}

        <div id="productsList">
            {{> meteorErrors}}
            <div id="main" class="row-fluid">
                {{> yield}}
            </div>
        </div>

        <!--<div id="productItems">-->
            <!--{{> productItem }}-->
        <!--</div>-->

        <div id="footer">
            {{> footer }}
        </div>
    </div>
</template>
