<template name='productSubmit'>
    <div class="pageContainer">
        <h1>{{> pageTitle }}</h1>

        <form name="product" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="family" class="col-sm-2 control-label">Sku Prefix</label>
                <div class="col-sm-10">
                    <input type="text" disabled name="family" class="form-control" value="{{ draftSKU }}" id="family" placeholder="e.g. 01-NS-90021-3">
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Product Name</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="title" placeholder="e.g. Striped Long-sleeve Henley Tee">
                </div>
            </div>
            <div class="form-group">
                <label for="product_type" class="col-sm-2 control-label">Vendor</label>
                <div class="col-sm-10">
                    <select class="form-control" name="title" id="title">
                        <option value=""></option>
                        {{#each vendors }}
                        <option value="{{ code }}">{{ vendor }}</option>
                        {{/each }}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="product_type" class="col-sm-2 control-label">Category</label>
                <div class="col-sm-10">
                    <select class="form-control" name="product_type" id="product_type">
                        <option value=""></option>
                        <!--{{#each productTypes }}-->
                        <!--<option value="{{ code }}">{{ product_type }}</option>-->
                        <!--{{/each }}-->
                        <option value="01">Accessories</option>
                        <option value="02">Denim</option>
                        <option value="03">Dresses</option>
                        <option value="04">Jackets</option>
                        <option value="05">Pants</option>
                        <option value="06">Shoes</option>
                        <option value="07">Skirts</option>
                        <option value="08">Sweaters</option>
                        <option value="09">Tops</option>
                    </select>
                </div>
            </div>

<!--
            <div class="form-group">
                <label for="vendor" class="col-sm-2 control-label">Vendor</label>
                <div class="col-sm-10">
                    <input type="text" name="vendor" class="form-control" id="vendor" placeholder="e.g. Alternate Apparel">
                </div>
            </div>
-->

            <div class="form-group">
                <label for="season" class="col-sm-2 control-label">Season</label>
                <div class="col-sm-10">
                    <select class="form-control" name="season" id="season">
                        <option value=""></option>
                        <option value="NS">no season</option>
                        <option value="SP">spring</option>
                        <option value="SU">summer</option>
                        <option value="FA">winter</option>
                        <option value="WI">fall</option>
                        <!--
                        only used for imported products
                        <option value="00">legacy</option>
                        -->
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="cost" class="col-sm-2 control-label">Cost</label>
                <div class="col-sm-10">
                    <input type="text" name="cost" class="form-control" id="cost" placeholder="32.50">
                </div>
            </div>

            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">Price</label>
                <div class="col-sm-10">
                    <input type="text" name="price" class="form-control" id="price" placeholder="50.00">
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <button type="#" id="cancel" class="btn">Cancel</button> <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</template>
