<!-- Item template for products list page -->
<template name='productItem'>
    <div class='product'>
        <div class='product-content'>
            <h3><a href="{{pathFor 'productPage'}}">{{title}}</a><span> ( {{family}} )</span></h3>
        </div>
        <!--TODO: Add roles-based access to edit option-->
        <a href="{{pathFor 'productEdit'}}" alt="edit product" class='discuss btn'><i class="fa fa-pencil fa-lg"></i></a>
        <a href="{{pathFor 'productPage'}}" alt="view product details" class='discuss btn'><i class="fa fa-tag fa-lg"></i></a>
    </div>
</template>

