<template name="productPage">

    <div class='product'>
        <div class=''>
            <h3 id="productTitle">{{title}} </h3>
            <div><span class="label">sku prefix:</span> <span id="productFamily">{{ family }}</span></div>
            <div><span class="label">vendor:</span> <span id="productVendor">{{ vendor }}</span></div>
            <div><span class="label">season:</span> <span id="productSeason">{{ season }}</span></div>
            <div><span class="label">notes:</span> <span id="productNotes">{{ productNotes }}</span></div>
        </div>
        <!-- TODO: Add roles-based access to edit option-->
        <a href="{{pathFor 'productEdit'}}" class='discuss btn'>Edit</a> <a href="{{pathFor 'productPage'}}" class='discuss delete btn'>Delete</a>
    </div>

    <div class="variants">
        <h4>Variants</h4>
        <table class="table table-striped">
            <thead>
            <td style="text-align: left;">Title</td>
            <td>SKU</td>
            <td>Qty</td>
            <td class="currency">Cost</td>
            <td class="currency">Price</td>
            <td></td>
            <td></td>
            </thead>
            <tbody>
            {{#each variants }}
            {{> variantItem }}
            {{/each }}
            </tbody>
        </table>
    </div>

    {{> variantSubmit}}

</template>
