<!-- Item template for products list page -->
<template name='productItem-backup'>
    <div class='product'>
        <div class='product-content'>
            <h3><a href="{{pathFor 'productPage'}}">{{title}}</a><span> ( {{family}} )</span></h3>  ({{ variantsCount }})
        </div>
        <!--TODO: Add roles-based access to edit option-->
        <a href="{{pathFor 'productEdit'}}" class='discuss btn'><i class="fa fa-pencil fa-lg"></i></a>  <a href="#" alt="delete product" class="delete discuss btn"><i class="fa fa-trash-o fa-lg"></i></a>
    </div>
</template>

<template name="productItem">
        <tr>
            <td class="col-sm-2"><a href="{{pathFor 'productEdit'}}">{{ title }}</a></td>
            <td class="col-sm-2">{{ vendorName }}</td>
            <td class="col-sm-1">{{ family }}<input type="hidden" name="id" value="{{ _id }}"/></td>
            <td class="currency col-sm-1">{{ cost }}</td>
            <td class="currency col-sm-1">{{ price }}</td>
            <td class="currency col-sm-2"><a href="#" class="delete"><i class="fa fa-trash-o fa-lg"></i></a> &nbsp; <a href="#" class="edit"><i class="fa fa-pencil fa-lg"></i></a></td>
        </tr>
</template>


