<template name="productPage">
    <div class='product'>
        <div class=''>
            <h3 id="productTitle">{{title}} </h3>
            <div><span class="label">sku prefix:</span> <span id="productFamily">{{ family }}</span></div>
            <div><span class="label">vendor:</span> <span id="productVendor">{{ vendor }}</span></div>
            <div><span class="label">season:</span> <span id="productSeason">{{ season }}</span></div>
            <div><span class="label">notes:</span> <span id="productNotes">{{ productNotes }}</span></div>
        </div>
        <!-- TODO: Add roles-based access to edit option-->
        <!-- TODO: Move edit controls to bottom of page -->
        <a href="{{pathFor 'productEdit'}}" class='discuss btn'>Edit</a> <a href="{{pathFor 'productPage'}}" class='discuss delete btn'>Delete</a>
    </div>

    <ul class="variants">
        <li class="header-item">
            <div class="col-sm-2">Name</div>
            <div class="col-sm-4">SKU</div>
            <div class="col-sm-2">Quantity</div>
            <!--<div class="col-sm-offset-2 col-sm-1"><a href="{{pathFor 'variantEdit'}}">Delete</a></div>-->
            <!--<div class="col-sm-1"><a href="{{pathFor 'variantPage'}}">Edit</a></div>-->
        </li>

        {{#each variants }}
            {{> variantItem }}
        {{/each }}
    </ul>

    <!-- TODO: use logic to do roles based access to editing
    {{#if currentUser}}
    {{> commentSubmit}}
    {{else}}
    <p>Please log in to leave a comment.</p>
    {{/if}}
    -->

    {{> variantSubmit}}

</template>
