.products {
  height        : 520px;
  overflow-x    : hidden;
}
.product span#editButtons {
  padding-left: 20px;
  font-size: .75em;
  text-align: right;
  color: darkslategray;
}
h3#productTitle {
  margin-top: 0px;
  display: inline;
}
.product .label {
  color         : darkslategray;
  display       : inline-block;
  /*width         : 75px;*/
  text-align    : left;
  /*padding-left  : 10px;*/
}
#productFooter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 53px;
  overflow: hidden;
}
#productContent {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  height: 120px;
  overflow: auto;
}
#productVariants {
  position: absolute;
  top: 170px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
