.products {
  height        : 520px;
  overflow-x    : hidden;
}
.product .label {
  color         : darkslategray;
  display       : inline-block;
  width         : 75px;
  text-align    : left;
  padding-left  : 10px;
}
.product table, .product table.table td {
  margin-left: 0;
  text-align: left;
  border: 3px black solid;
}
.currency {
  text-align: right;
}
#productFooter {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 125px;
  overflow: hidden;
}
#productContent {
  position: absolute;
  top: 50px;
  bottom: 200px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
