<template name="variantSubmit">
<!--    <form name="variant" class="form-horizontal comment-form">
        <div class="control-group">
            <div class="controls">
                <label for="body">Add a new variant:</label>
&lt;!&ndash;                <div class='control-group'>
                    <label class='control-label' for='sku'>SKU</label>
                    <div class='controls'>
                        <input name='sku' type='text' value='{{ sku }}' placeholder='product SKU'/>
                    </div>
                </div>&ndash;&gt;
&lt;!&ndash;

                <div class='control-group'>
                    <label class='control-label' for='title'>Variant Name</label>
                    <div class='controls'>
                        <input name='title' disabled=false size="75" type='text' value='{{ title }}' placeholder='variant name'/>
                    </div>
                </div>

&ndash;&gt;
                <div class='control-group'>
                    <label class='control-label' for='color'>Color</label>
                    <div class='controls'>
                        &lt;!&ndash;<input name='color2' type='text' value='{{ color }}' placeholder='color'/>&ndash;&gt;
                        <input class="typeahead" value='{{ color }}' name="color" type="text"
                               placeholder="color"
                               autocomplete="off" spellcheck="off"
                               data-source="colorList"/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='size'>Size</label>
                    <div class='controls'>
                        <input name='size' type='text' value='{{ size }}' placeholder='size'/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='cost'>Cost</label>
                    <div class='controls'>
                        <input name='cost' type='text' value='{{ cost }}' placeholder='cost'/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='price'>Price</label>
                    <div class='controls'>
                        <input name='price' type='text' value='{{ price }}' placeholder='price'/>
                    </div>
                </div>
&lt;!&ndash;

                <div class='control-group'>
                    <div class='controls'>
                        <input type='submit' value='Submit' class='btn btn-primary submit'/>
                    </div>
                </div>

                <div class='control-group'>
                    <div class='controls'>
                        <a class='btn btn-danger delete' href='#'>Delete Variant</a>
                    </div>
                </div>

&ndash;&gt;
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <br /><button type="submit" class="btn">Add</button>
            </div>
        </div>
    </form>-->
    <hr />
    <form name="variant" class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-1  control-label"></div>
            <label for="color" class="col-sm-1 control-label">Color</label>
            <div class="col-sm-2">
                <input type="text" name="color" class="form-control" value='{{ color }}' id="color" placeholder="color">
            </div>
            <label for="size" class="col-sm-1 control-label">Size</label>
            <div class="col-sm-1">
                <input type="text" name="size" class="form-control" value='{{ size }}' id="size" placeholder="size">
            </div>
            <label for="qty" class="col-sm-1 control-label">Quantity</label>
            <div class="col-sm-1">
                <input type="text" name="qty" class="form-control" value='{{ qty }}' id="qty" placeholder="qty">
            </div>
        <!--</div>-->
        <!--<div class="form-group">-->
            <label for="cost" class="col-sm-1 control-label">Cost</label>
            <div class="col-sm-1">
                <input type="text" name="cost" class="form-control" value='{{ cost }}' id="cost" placeholder="cost">
            </div>
            <label for="price" class="col-sm-1 control-label">Price</label>
            <div class="col-sm-1">
                <input type="text" name="price" class="form-control"  value='{{ price }}' id="price" placeholder="price">
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn">Add</button>
            </div>
        </div>
    </form>
</template>
