<!-- Item template for variants list page -->
<template name="variantItem">
    <tr>
        <td>{{ title }}</td>
        <td>{{ sku }}<input type="hidden" name="id" value="{{ _id }}"/></td>
        <td>{{ qty }}</td>
        <td class="currency">{{ cost }}</td>
        <td class="currency">{{ price }}</td>
        <td class="currency"><a href="#" class="delete"><i class="fa fa-trash-o fa-lg"></i></a> &nbsp; <a href="#" class="edit"><i class="fa fa-pencil fa-lg"></i></a></td>
    </tr>
</template>

<!-- Item details for variant page -->
<!-- TODO:  Differentiate this page from the simple list details -->
<template name='variantDetails'>
    <div class='product'>
        <div class='product-content'>
            <h3>{{title}} <span>( {{ sku }} )</span></h3>
        </div>
        <!--TODO: Add roles-based access to edit option-->
        <a href="{{pathFor 'variantEdit'}}" class='discuss btn'>Edit</a> <a href="{{pathFor 'variantPage'}}" class='discuss btn'>View</a>
    </div>
</template>
