<!-- Item template for variants list page -->
<template name="variantItem">
    <tr>
        <td>{{ title }}</td>
        <td>{{ sku }}</td>
        <td>{{ qty }}</td>
        <td class="currency">{{ cost }}</td>
        <td class="currency">{{ price }}</td>
        <td class="currency"><a href="#" class="delete">Delete</a> <a href="{{pathFor 'variantPage'}}">Edit</a></td>
    </tr>

<!--    <li>
        <div class="col-sm-2 variantTitle">{{ color }} / {{ size }}</div>
        <div class="col-sm-4">( {{ sku }} )</div>
        <div class="col-sm-2">{{ qty }}</div>
        <div class="col-sm-offset-2 col-sm-1"><a href="{{pathFor 'variantEdit'}}">Delete</a></div>
        <div class="col-sm-1"><a href="{{pathFor 'variantPage'}}">Edit</a></div>
    </li>-->
</template>

<!-- Item details for variant page -->
<!-- TODO:  Differentiate this page from the simple list details -->
<template name='variantDetails'>
    <div class='product'>
        <div class='product-content'>
            <h3>{{title}} <span>( {{ sku }} )</span></h3>
        </div>
        <!--TODO: Add roles-based access to edit option-->
        <a href="{{pathFor 'variantEdit'}}" class='discuss btn'>Edit</a> <a href="{{pathFor 'variantPage'}}" class='discuss btn'>View</a>
    </div>
</template>
