<template name="variantSubmit">
    <form name="variant" role="form">
        <div>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td class="col-sm-4"><input type="text" name="color" class="form-control" value='{{ color }}' id="color" placeholder="color"></td>
                    <td class="col-sm-2"><input type="text" name="size" class="form-control" value='{{ size }}' id="size" placeholder="size"></td>
                    <td class="col-sm-1"><input type="text" name="qty" class="form-control" value='{{ qty }}' id="qty" placeholder="qty"></td>
                    <td class="col-sm-2"><input type="text" name="cost" class="form-control" value='{{ cost }}' id="cost" placeholder="cost"></td>
                    <td class="col-sm-2"><input type="text" name="price" class="form-control"  value='{{ price }}' id="price" placeholder="price"></td>
                    <td class="col-sm-1 currency"><button type="submit" class="btn">Add</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>


    <!--    <form name="variant" class="form-horizontal comment-form">
            <div class="control-group">
                <div class="controls">
                    <label for="body">Add a new variant:</label>
    &lt;!&ndash;                <div class='control-group'>
                    <label class='control-label' for='sku'>SKU</label>
                    <div class='controls'>
                        <input name='sku' type='text' value='{{ sku }}' placeholder='product SKU'/>
                    </div>
                </div>&ndash;&gt;
&lt;!&ndash;

                <div class='control-group'>
                    <label class='control-label' for='title'>Variant Name</label>
                    <div class='controls'>
                        <input name='title' disabled=false size="75" type='text' value='{{ title }}' placeholder='variant name'/>
                    </div>
                </div>

&ndash;&gt;
                <div class='control-group'>
                    <label class='control-label' for='color'>Color</label>
                    <div class='controls'>
                        &lt;!&ndash;<input name='color2' type='text' value='{{ color }}' placeholder='color'/>&ndash;&gt;
                        <input class="typeahead" value='{{ color }}' name="color" type="text"
                               placeholder="color"
                               autocomplete="off" spellcheck="off"
                               data-source="colorList"/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='size'>Size</label>
                    <div class='controls'>
                        <input name='size' type='text' value='{{ size }}' placeholder='size'/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='cost'>Cost</label>
                    <div class='controls'>
                        <input name='cost' type='text' value='{{ cost }}' placeholder='cost'/>
                    </div>
                </div>

                <div class='control-group'>
                    <label class='control-label' for='price'>Price</label>
                    <div class='controls'>
                        <input name='price' type='text' value='{{ price }}' placeholder='price'/>
                    </div>
                </div>
&lt;!&ndash;

                <div class='control-group'>
                    <div class='controls'>
                        <input type='submit' value='Submit' class='btn btn-primary submit'/>
                    </div>
                </div>

                <div class='control-group'>
                    <div class='controls'>
                        <a class='btn btn-danger delete' href='#'>Delete Variant</a>
                    </div>
                </div>

&ndash;&gt;
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <br /><button type="submit" class="btn">Add</button>
            </div>
        </div>
    </form>-->
<!--
    <hr />
    <form name="variant" class="" role="form">
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="color" class="col-sm-1 control-label">Color</label>
            </div>
            <div class="col-sm-2">
                <label for="size" class="col-sm-1 control-label">Size</label>
            </div>
            <div class="col-sm-2">
                <label for="qty" class="col-sm-1 control-label">Quantity</label>
            </div>
            <div class="col-sm-1">
                <label for="cost" class="col-sm-1 control-label">Cost</label>
            </div>
            <div class="col-sm-1">
                <label for="price" class="col-sm-1 control-label">Price</label>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
            &lt;!&ndash;<div class="col-sm-1  control-label"></div>&ndash;&gt;
            <div class="col-sm-2">
                <input type="text" name="color" class="form-control" value='{{ color }}' id="color" placeholder="color">
            </div>

            <div class="col-sm-2">
                <input type="text" name="size" class="form-control" value='{{ size }}' id="size" placeholder="size">
            </div>

            <div class="col-sm-2">
                <input type="text" name="qty" class="form-control" value='{{ qty }}' id="qty" placeholder="qty">
            </div>
        &lt;!&ndash;</div>&ndash;&gt;
        &lt;!&ndash;<div class="form-group">&ndash;&gt;

            <div class="col-sm-1">
                <input type="text" name="cost" class="form-control" value='{{ cost }}' id="cost" placeholder="cost">
            </div>
            <div class="col-sm-1">
                <input type="text" name="price" class="form-control"  value='{{ price }}' id="price" placeholder="price">
            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn">Add</button>
            </div>
        </div>
    </form>
-->
</template>
