<template name="home">
    {{ #if currentUser }}
    <h2>Staff Portal</h2>
    <div class="graphical-menu">
        <table class="table">
            <tr>
                <td><a class="active" href="{{pathFor 'productsList'}}"><i class="fa fa-tags fa-5x"></i></a></td>
                <td><a class="active" href="{{pathFor 'productSubmit'}}"><i class="fa fa-tag fa-5x"></i></a></td>
                <td><a class="active" href="#"><i class="fa fa-users fa-5x"></i></a></td>
                <td><a class="active" href="#"><i class="fa fa-user fa-5x"></i></a></td>
            </tr>
            <tr>
                <td><a class="active" href="{{pathFor 'productsList'}}">All Products</a></td>
                <td><a class="active" href="{{pathFor 'productSubmit'}}">New Product</a></td>
                <td><a class="active" href="#">User Admin</a></td>
                <td><a class="active" href="#">New User</a></td>
            </tr>
            <tr class="spacer"></tr>
            <tr>
                <td><a class="active" href="#"><i class="fa fa-calendar fa-5x"></i></a></td>
                <td><a class="active" href="#"><i class="fa fa-users fa-5x"></i></a></td>
                <td><a class="active" href="#"><i class="fa fa-dollar fa-5x"></i></a></td>
                <td><a class="active" href="#"><i class=""></i></a></td>
            </tr>
            <tr>
                <td><a class="active" href="#">Calendar</a></td>
                <td><a class="active" href="#">Clients</a></td>
                <td><a class="active" href="#">Orders</a></td>
                <td><a class="active" href="#"></a></td>
            </tr>
        </table>
    </div>
    {{/if }}
</template>
