<template name="home">
    {{ #if currentUser }}
    <h2>Staff Portal</h2>
    <div class="container-fixed menuBox col-sm-10 col-sm-offset-1">
        <div class="graphical-menu">
            <div class="row">
                <div class="menuItem col-sm-3">
                    <a class="active" href="{{pathFor 'productsList'}}"><i class="fa fa-tags fa-5x"></i><br />All Products</a>
                </div>
                <div class="menuItem col-sm-3">
                    <a class="active" href="{{pathFor 'productsSubmit'}}"><i class="fa fa-tag fa-5x"></i><br />New Product</a>
                </div>
                <div class="menuItem col-sm-3">
                    <a class="active" href="#"><i class="fa fa-users fa-5x"></i></a>
                </div>
                <div class="menuItem col-sm-3">
                    <a class="active" href="#"><i class="fa fa-user fa-5x"></i></a>
                </div>

                <div class="menuItem col-sm-3">
                    <a class="active" href="{{pathFor 'calendar'}}"><i class="fa fa-calendar fa-5x"></i><br />Calendar</a>
                </div>
                <div class="menuItem col-sm-3">
                    <a class="active" href="{{pathFor 'productsList'}}"><i class="fa fa-users fa-5x"></i><br />Clients</a>
                </div>
                <div class="menuItem col-sm-3">
                    <a class="active" href="{{pathFor 'productsList'}}"><i class="fa fa-dollar fa-5x"></i><br />Orders</a>
                </div>
                <div class="menuItem col-sm-3">
                    <a class="active" href="{{pathFor 'productsList'}}"><i class="fa fa-tags fa-5x"></i></a>
                </div>
            </div>
 <!--
            <table class="table">
                <tr>
                    <td><a class="active" href="{{pathFor 'productsList'}}"><i class="fa fa-tags fa-5x"></i></a></td>
                    <td><a class="active" href="{{pathFor 'productSubmit'}}"><i class="fa fa-tag fa-5x"></i></a></td>
                    <td><a class="active" href="#"><i class="fa fa-users fa-5x"></i></a></td>
                    <td><a class="active" href="#"><i class="fa fa-user fa-5x"></i></a></td>
                </tr>
                <tr>
                    <td><a class="active" href="{{pathFor 'productsList'}}">All Products</a></td>
                    <td><a class="active" href="{{pathFor 'productSubmit'}}">New Product</a></td>
                    <td><a class="active" href="#">User Admin</a></td>
                    <td><a class="active" href="#">New User</a></td>
                </tr>
                <tr class="spacer"></tr>
                <tr>
                    <td><a class="active" href="{{pathFor 'calendar'}}"><i class="fa fa-calendar fa-5x"></i></a></td>
                    <td><a class="active" href="#"><i class="fa fa-users fa-5x"></i></a></td>
                    <td><a class="active" href="#"><i class="fa fa-dollar fa-5x"></i></a></td>
                    <td><a class="active" href="#"><i class=""></i></a></td>
                </tr>
                <tr>
                    <td><a class="active" href="{{pathFor 'calendar'}}">Calendar</a></td>
                    <td><a class="active" href="#">Clients</a></td>
                    <td><a class="active" href="#">Orders</a></td>
                    <td><a class="active" href="#"></a></td>
                </tr>
            </table>
-->
        </div>
    </div>
    {{ else }}
    <h2>Tog + Porter Staff Portal</h2>
    {{/if }}

</template>
